#sideToolbar {
    position: fixed;
    bottom: -12px;
    right: 180px;
    width: 250px;
    height: 440px;
}
#sideCatalog{
	background-color:#fff;
	padding-bottom:10px;
	border-radius:5px;
}
#sideCatalog-sidebar {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #eaeaea;
	border-color: -moz-use-text-color #eaeaea;
	border-image: none;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-style: none solid;
	border-width: 0 1px;
	height: 353px;
	left: 1px;
	position: absolute;
	top: 0;
	width: 0
}
#sideCatalog-catalog {
	height: 340px;
	padding-top: 18px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 23px;
	position: relative
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
	cursor: pointer;
	top: 0
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
	bottom: 0
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top,#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
	background: url("http://files.cnblogs.com/files/study-everyday/sideToolbar.gif") no-repeat scroll 0 -199px transparent;
	height: 10px;
	left: -5px;
	overflow: hidden;
	position: absolute;
	width: 10px
}
#sideCatalog li {
	margin: 1px;
	padding: 1px 0px;
	text-align: left;
	position: relative;
	list-style-type:none;
}
#sideCatalog li: hover {
	background-color: #f5f5f5
}
#sideCatalog-catalog ul .active {
	background-color: #f5f5f5
}
#sideCatalog-catalog .active a {
	color: #519cea
}
#sideCatalog-catalog a: hover {
	color: #519cea
}
#sideCatalog span: first-child {
	color: #999;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	padding-right: 5px
}
#sideCatalog li.h2Offset {
	padding-left: 45px;
	text-indent: -25px
}
#sideCatalog li.h3Offset {
	padding-left: 90px;
	text-indent: -50px
}
#sideCatalog a {
	text-decoration: none;
	color: #555;
	font-weight: 500;
}
.sideCatalog-dot {
	background: url("http://files.cnblogs.com/files/study-everyday/sideToolbar.gif") repeat scroll 0 -222px transparent;
	cursor: pointer;
	font-size: 12px;
	height: 10px;
	left: -23px;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 6px
}
#sideCatalog .highlight .sideCatalog-dot {
	background: url("http://files.cnblogs.com/files/study-everyday/sideToolbar.gif") no-repeat scroll -271px -38px transparent;
	height: 13px;
	left: -23px;
	top: 3px;
	width: 18px
}
#sideCatalogBtn {
	background: url("http://files.cnblogs.com/files/study-everyday/sideToolbar.gif") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: block;
	height: 45px;
	margin-bottom: 5px;
	margin-left: 1px;
	position: relative;
	width: 45px;
	margin-top: 10px;
	outline: 0
}
#sideCatalogBtn: hover {
	background: url("http://files.cnblogs.com/files/study-everyday/sideToolbar.gif") no-repeat scroll -154px 0 transparent
}
.sideCatalogBtnDisable {
	background: url("http://files.cnblogs.com/files/study-everyday/sideToolbar.gif") no-repeat scroll -104px 0 transparent !important
}
#sideToolbar-up {
	background: url("http://files.cnblogs.com/files/study-everyday/sideToolbar.gif") no-repeat scroll -1px -62px transparent;
	border-radius: 2px;
	display: block;
	height: 45px;
	margin-left: 5px;
	width: 45px;
	outline: 0
}
#sideToolbar-up: hover {
	background: url("http://files.cnblogs.com/files/study-everyday/sideToolbar.gif") no-repeat scroll -74px -62px transparent
}